<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wasteNOT</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

	<header>
		<h2><a href="/" class="header-links"><img src='/img/wasteNOT_Logo.png' width="200"></a></h2>
		<nav>
			<li><a href="/" class="header-links">Home</a></li>

      <li><a href="/foodbank" class="header-links">About HFH</a></li>

		</nav>
	</header>


	<section class="hero">
		<!-- Photo by Katie Smith on unsplash.com -->
		<div class="background-image" style="background-image: url(/img/veggies.jpg);"></div><br>
		<h3><i>{{newUserMessage}}</i></h3><br>
        <h1>Welcome, Admin!</h1>
		<h1>Log In To Your Account</h1>
		<br><br>
		<form class="nice-form" method="POST" action="/admin-login">
		<input type="text" placeholder="Email address" name="emailAsUsername" /><br>
		<br><br>
		<input type="password" placeholder="Password" name="password" /><br><br>
        <button class="btn">Sign In</button>
        </form>
		{{message}}
	</section>


	<section class="our-work">

		<ul class="grid">
			<li class="small" style="background-image: url(/img/coast.jpg);"></li>
			<li class="large" style="background-image: url(/img/island.jpg);"></li>
			<li class="large" style="background-image: url(/img/balloon.jpg);"></li>
			<li class="small" style="background-image: url(/img/mountain.jpg);"></li>
		</div>
	</section>
	

	<footer>
	<p>Site created in 2021 by Nicole Aldurien, Hao Dam, and Younus Qureishy.</p>
	</footer>
</body>

</html>
