<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wasteNOT</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

	<header>
		<h2><a href="/" class="header-links"><img src='/img/wasteNOT_Logo.png' width="200"></a></h2>
		<nav>
			<li><a href="/admin/add-admin" class="header-links">Add New Admin</a></li>
			<li><a href="/admin/add-foodbank" class="header-links">Add Foodbank</a></li>
			<li><a href="/admin-logout" class="header-links">Logout</a></li>
		</nav>
	</header>


	<section class="hero">
	<br><br>
		<!-- Photo by Joel Muniz on unsplash.com -->
		<div class="background-image" style="background-image: url(/img/foodbank.jpg);"></div>
		<h1>Admin: View Today's Donations</h1>
		<h3>See donations needing pickup in order to plan today's route.</h3>
        <a href="#donations" class="btn">Donations</a>

        
	</section>


	<section class="our-work">
		<h3 class="title" id="donations">Donations</h3>
		<p>{{#donations}}
        
        <ul id="donation-list" style="text-align: center">
		<li>
		<form method="POST" action="/admin/delete-donation">
		<b><u>Item: {{itemName}}</u></b><br>
		<b>Estimated Quantity:</b> {{estimatedQty}}<br>
		<b>Storage Temp:</b> {{storageTemp}}<br>
        <b>Donated on:</b> {{createdAt}}<br>
        
		{{#user}}
		<b>Donated by:</b> {{restaurantName}}<br>
		<b>Address:</b> {{restaurantStreetAddress}}<br>
			{{city}},
			{{state}}
			{{zip}}<br>
		{{/user}}

		<input type="hidden" value='{{id}}' name="donationId"/><br>
		<button class="btn">Delete Donation After Pickup</button>
		</form>
		<br><br>
		</li>
        </ul>
        {{/donations}}
        <br>
</p>
		<hr>

		<ul class="grid">
			<li class="small" style="background-image: url(/img/coast.jpg);"></li>
			<li class="large" style="background-image: url(/img/island.jpg);"></li>
			<li class="large" style="background-image: url(/img/balloon.jpg);"></li>
			<li class="small" style="background-image: url(/img/mountain.jpg);"></li>
		</div>
	</section>
	


	<footer>
	<p>Site created in 2021 by Nicole Aldurien, Hao Dam, and Younus Qureishy.</p>
	</footer>
</body>

</html>
