<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wasteNOT</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

	<header>
		<h2><a href="/" class="header-links"><img src='/img/wasteNOT_Logo.png' width="200"></a></h2>
		<nav>
			<li><a href="/" class="header-links">wasteNOT</a></li>
			<li><a href="/locations" class="header-links">Locations</a></li>
		</nav>
	</header>


	<section class="hero">
		<!-- Photo by Joel Muniz on unsplash.com -->
		<div class="background-image" style="background-image: url(img/foodbank.jpg);"></div>
		<h1>Hearts Feeding H-town</h1>
		<h3>We're on a mission to end hunger in Houston.</h3>
			<a href="#whatwedo" class="btn">What We Do</a>
	</section>


	<section class="our-work">
		<h3 class="title" id="whatwedo">What We Do</h3>
		<p>We support a small <a href="/locations">network</a> of food banks and soup kitchens in the greater Houston area. We make daily runs to collect donations of unsold food from our restaurant partners, with proper storage to transport frozen and refrigerated foods. We then distribute them among the network locations based on their changing needs, to help feed a greater number of our city's food-insecure population.</p>
		<br><br>
		<hr>
		<br><br>
		<h3 class="title">Huge Thanks to Our Restaurant Partners!</h3>
		<br>
		<ul id="restaurants" style="text-align: center">
		{{#users}}
		<li>
		<b><a href="{{website}}">{{restaurantName}}</a></b><br>
		{{restaurantStreetAddress}}<br>
		{{city}}, {{state}} {{zip}}<br>
		{{phone}}<br><br><br>
		</li>
		{{/users}}
		</ul>
		<br><br>
		<hr>
		<br><br>
		<h3 class="title">See All Food Bank Locations In Our Network</h3>
		<a href="/locations" class="btn">Locations</a>
		</p>
	</section>
	<section>
		<ul class="grid">
			<li class="small" style="background-image: url(img/coast.jpg);"></li>
			<li class="large" style="background-image: url(img/island.jpg);"></li>
			<li class="large" style="background-image: url(img/balloon.jpg);"></li>
			<li class="small" style="background-image: url(img/mountain.jpg);"></li>
		</div>
	</section>
	

	<section class="features">
		<h3 class="title">Features and services</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
</section>
	<footer>
	<p>Site created in 2021 by Nicole Aldurien, Hao Dam, and Younus Qureishy.</p>
	</footer>