<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wasteNOT</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

	<header>
		<h2><a href="/" class="header-links"></a></h2>
		<nav>
			<li><a href="/foodbank" class="header-links">About</a></li>
			<li><a href="/login" class="header-links">Login</a></li>
			<li><a href="/register" id="register" class="header-links">Register</a></li>
		</nav>
	</header>


	<section class="hero">
		<!-- Photo by Katie Smith on unsplash.com -->
		<div class="background-image" style="background-image: url(img/veggies.jpg);"></div>
		<h1><img src='/img/wasteNOT_Logo.png' width="500"></h1>
		<h3>A Project of Hearts Feeding H-town</h3>
			<a href="#howitworks" class="btn">How It Works</a>
	</section>


	<section class="our-work">
		<h3 class="title" id="howitworks">How It Works</h3>
		<p>We partner with local restaurants to pick up excess unsold food, prepared or raw, that might otherwise be discarded. All you need to do is tell us the what and the where, and one of our volunteers will be there the same day to take it off your hands. Food donations are also eligible for a <a href="https://www.nrdc.org/sites/default/files/food-donation-federal-tax-deduction-guide-201803.pdf">charitable tax deduction</a> that is larger than that of simply writing the item off as a loss. Help us feed the hungry, reduce waste, and improve your bottom line by <a href="#register">signing up today!</a></p>
		<hr>
		<br><br><br><br>
		<h3 class="title" id="news-links">Restaurant Food Donation In The News</h3>
		
		<p><a href="https://www.usda.gov/media/blog/2020/08/13/good-samaritan-act-provides-liability-protection-food-donations">Good Samaritan Act Provides Liability Protection For Food Donations</a> (USDA.gov)</p>
		<p><a href="https://www.rewardsnetwork.com/blog/restaurant-guide-charitable-contributions/">The Restaurant Guide to Charitable Donations</a> (Rewards Network) </p>	
		<p><a href="https://www.eater.com/2020/3/17/21181403/restaurants-combat-food-waste-amid-coronavirus-by-donating-to-food-banks">Restaurants Combat Food Waste Amid Coronavirus By Donating To Food Banks</a> (Eater.com)</p>

		<ul class="grid">
			<li class="small" style="background-image: url(img/coast.jpg);"></li>
			<li class="large" style="background-image: url(img/island.jpg);"></li>
			<li class="large" style="background-image: url(img/balloon.jpg);"></li>
			<li class="small" style="background-image: url(img/mountain.jpg);"></li>
		</div>
	</section>
	

	<section class="features">
		<h3 class="title">Features and services</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
</section>
	<footer>
	<p>Site created in 2021 by Younus Qureishy, Hao Dam, and Nicole Aldurien.</p>
	</footer>
</body>

</html>
