<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wasteNOT</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

	<header>
		<h2><a href="#" class="header-links">Logo Goes Here?</a></h2>
		<nav>
			<li><a href="/" class="header-links">Home</a></li>
            <li><a href="/foodbank" class="header-links">About</a></li>
			<li><a href="/register" id="register" class="header-links">Register</a></li>
		</nav>
	</header>


	<section class="hero">
		<!-- Photo by Katie Smith on unsplash.com -->
		<div class="background-image" style="background-image: url(img/veggies.jpg);"></div>
		<h3><i>{{newUserMessage}}</i></h3>
		<h1>Log In To Your Account</h1>
		<p>Don't have an account yet? <a href="/register">Sign up here.</a><br><br>
		</p>
		<br>
		<form class="nice-form" method="POST" action="/login">
		<input type="text" placeholder="Email address" name="emailAsUsername" /><br>
		<br><br>
		<input type="password" placeholder="Password" name="password" /><br><br>
        <button class="btn">Sign In</button>
        </form>
	</section>


	<section class="our-work">
		<h3 class="title" id="howitworks">How It Works</h3>
		<p>We partner with local restaurants to pick up excess unsold food, prepared or raw, that might otherwise be discarded. All you need to do is tell us the what and the where, and one of our volunteers will be there the same day to take it off your hands. Food donations are also eligible for a <a href="https://www.nrdc.org/sites/default/files/food-donation-federal-tax-deduction-guide-201803.pdf">charitable tax deduction</a> that is larger than that of simply writing the item off as a loss. Help us feed the hungry, reduce waste, and improve your bottom line by <a href="#register">signing up today!</a></p>
		<hr>

		<ul class="grid">
			<li class="small" style="background-image: url(img/coast.jpg);"></li>
			<li class="large" style="background-image: url(img/island.jpg);"></li>
			<li class="large" style="background-image: url(img/balloon.jpg);"></li>
			<li class="small" style="background-image: url(img/mountain.jpg);"></li>
		</div>
	</section>
	

	<section class="features">
		<h3 class="title">Features and services</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
		<hr>

		<ul class="grid">
			<li>
				<i class="fa fa-camera-retro"></i>
				<h4>Photography</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
			</li>
			<li>
				<i class="fa fa-cubes"></i>
				<h4>Web Development</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
			</li>
			<li>
				<i class="fa fa-newspaper-o"></i>
				<h4>Content Editing</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
			</li>
		</div>
	</section>


	<section class="reviews">
		<h3 class="title">What others say:</h3>

		<p class="quote">Mauris sit amet mauris a arcu eleifend ultricies eget ut dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		<p class="author">— Patrick Farrell</p>

		<p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
		<p class="author">— George Smith</p>

		<p class="quote">Donec commodo dolor augue, vitae faucibus tortor tincidunt in. Aliquam vitae leo quis mi pulvinar ornare. Integer eu iaculis metus.</p>
		<p class="author">— Kevin Blake</p>

		
	</section>


	<section class="contact">
		<h3 class="title">Join our newsletter</h3>	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
		<hr>

		<form>
			<input type="email" placeholder="Email">
			<a href="#" class="btn">Subscribe now</a>
		</form>
	</section>

	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square""></i></a></li>
		</ul>
		<p>Made by <a href="http://tutorialzine.com/" target="_blank">tutorialzine</a>. images courtesy to <a href="http://unsplash.com/" target="_blank">unsplash</a>.</p>
		<p>No attribution required. you can remove this footer.</p>
	</footer>

</body>

</html>
