<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wasteNOT</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

	<header>
		<h2><a href="#" class="header-links"><img src='/img/wasteNOT_Logo.png' width="200"></a></h2>
		<nav>
			<li><a href="/foodbank" class="header-links">About HFH</a></li>
			<li><a href="/" class="header-links">Home</a></li>
			<li><a href="/logout" class="header-links">Logout</a></li>
			<li><a href="/users/update-profile/{{userId}}" class="header-links">Update</a></li>
		</nav>
	</header>


	<section class="hero">
		<!-- Photo by Katie Smith on unsplash.com -->
		<div class="background-image" style="background-image: url(/img/veggies.jpg);"></div>
		<h2><i>{{message}}</i><h2><br><br>
        <h1>Welcome Back!</h1>
		<h3>Enter a new donation or see all past donations</h3>
			<a href="#getstarted" class="btn">Get Started</a>
	</section>


	<section class="our-work">
		<h3 class="title" id="getstarted">Enter A New Donation</h3>
		 <form class="nice-form" method="POST" action="/users/donation">
		<input type="text" placeholder="Name of food item" name="itemName" />
        Enter estimated quantity:
		<input type="number" min="0" name="estimatedQty" />
        <input type="text" placeholder="Estimated expiration" name="estimatedExpiration" /><br><br>
		Is this item ready-to-eat without further preparation beyond reheating?<br> <i>(Don't worry, we'll happily take it either way!)</i><br><br>
        <input type="radio" id="yes" name="isReadyToEat" value="true">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="isReadyToEat" value="false">
        <label for="no">No</label><br><br>
        What is the safe storage temperature for this item?<br><br>
        <input type="radio" id="roomtemp" name="storageTemp" value="room_temp">
        <label for="roomtemp">Room Temp</label><br>
        <input type="radio" id="fridge" name="storageTemp" value="refrigerated">
        <label for="fridge">Refrigerated</label><br>
        <input type="radio" id="frozen" name="storageTemp" value="frozen">
        <label for="frozen">Frozen</label><br><br>
        <button class="btn">Save Donation</button>
        </form>
        <br>

        <br>
		<hr>
        <br><br>
		<h3 class="title" id="see-donations"><a href='/users/past-donations'>See All Past Donations</a></h3>
        
        <ul class="grid">
			<li class="small" style="background-image: url(/img/coast.jpg);"></li>
			<li class="large" style="background-image: url(/img/island.jpg);"></li>
			<li class="large" style="background-image: url(/img/balloon.jpg);"></li>
			<li class="small" style="background-image: url(/img/mountain.jpg);"></li>
		</div>
	</section>
	

	<section class="features">
		<h3 class="title">Features and services</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
</section>
	<footer>
	<p>Site created in 2021 by Nicole Aldurien, Hao Dam, and Younus Qureishy.</p>
	</footer>
</body>

</html>
